
body {
  margin: 0 ;
  padding: 0;
  /* background: url(../img/sunset-gfc13cdb30_1920.jpg)center center / cover no-repeat fixed; */
  z-index: -999;    
  overflow-x: hidden;
  box-sizing: border-box;
}
body.active {
  height: 100%;
  overflow: hidden;
}
#video {
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  }

  /*top menu*/
.mask p{
    position: absolute;
    top: 38%;
   left: 23%;
    z-index: 999;
    font-family: 'Caveat', cursive;
    overflow-x: hidden;
    font-size: 400%;
   
}


/*オープニングアニメーション*/
span{
 
    color: transparent;
    
    animation: blur 10s ease-out infinite;
    -webkit-animation: blur 10s ease-out infinite;
}
.mask .open:nth-child(1) {
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
  }
.mask .open:nth-child(2) {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
  }
.mask  .open:nth-child(3) {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
  }
.mask  .open:nth-child(4) {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
  }
.mask  .open:nth-child(5) {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
  }
.mask  .open:nth-child(6) {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
  }
.mask  .open:nth-child(7) {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
  }
.mask  .open:nth-child(8) {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
  }
  
  @keyframes blur {
    0%    {text-shadow:  0 0 100px #fff; opacity:0;}
    5%    {text-shadow:  0 0 90px #fff;}
    15%   {opacity: 1;}
    20%   {text-shadow:  0 0 0px #fff;}
    80%   {text-shadow:  0 0 0px #fff;}
    85%   {opacity: 1;}
    95%   {text-shadow:  0 0 90px #fff;}
    100%  {text-shadow:  0 0 100px #fff; opacity:0;}
  }
  
  @-webkit-keyframes blur {
    0%    {text-shadow:  0 0 100px #fff; opacity:0;}
    5%    {text-shadow:  0 0 90px #fff;}
    15%   {opacity: 1;}
    20%   {text-shadow:  0 0 0px #fff;}
    80%   {text-shadow:  0 0 0px #fff;}
    85%   {opacity: 1;}
    95%   {text-shadow:  0 0 90px #fff;}
    100%  {text-shadow:  0 0 100px #fff; opacity:0;}
  }
  .mask {
    
    position: fixed; 
    z-index: 999; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background: #ff7700; 
    clip-path: polygon(50% 0%, 72% 0, 100% 0, 100% 90%, 100% 70%, 70% 100%, 0 100%, 0 100%, 0 28%, 35% 0);
    animation: fadeOut 0.4s forwards; 
    animation-delay: 4s; 
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  
  .circle {
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
    width: 0;
    height: 0;
    background: rgb(0, 0, 0); 
    animation: circle-open 1s linear forwards;
    animation-delay: 3s;
  }
  
  
  @keyframes circle-open {
    0% {
      width: 0;
      height: 0;
      border-radius: 50%;
    }
    
    90% {
      
      width: 99vw;
      height: 99vw;
      border-radius: 50%;
    }
    100% {
     
      width: 100vw;
      height: 100vh;
      border-radius: 0;
    }
  }
  @media screen and (max-width: 990px){
    .mask p{
      font-size: 250%;
       }
  }
  @media screen and (max-width: 710px){
    .mask p{
      font-size: 200%;
    }
  }
  @media screen and (max-width: 480px){
    .mask p{
      font-size: 150%;
    }
  }
  @media screen and (max-width: 281px){
    .mask p {
      font-size: 115%;
  }
  }
li{
    list-style: none;
}
a{
    text-decoration: none;
    
}




/*ハンバーガーメニュー*/
.menu-sab ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
margin: 0;
position: fixed;
top: -100vh;
left: 0;
width: 100vw;
z-index: 888;
}

.menu-sab li {
background-image: linear-gradient(60deg, #29323cb8 0%, #485563de 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .3s ease-in-out;
  height: 100vh;
  width: 20vw; 
}

.menu-sab li a {
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-sab li a:hover {
  text-decoration: underline;
}

.menu-sab li:nth-of-type(2) {
  transition-delay: .025s;
}

.menu-sab li:nth-of-type(3) {
  transition-delay: .05s;
}

.menu-sab li:nth-of-type(4) {
  transition-delay: .075s;
}

.menu-sab li:nth-of-type(5) {
  transition-delay: .1s;
}

.menu-sab.opeen li {
  transform: translateY(100vh);
}

@media (max-width: 768px) {
  .menu-sab ul {
      flex-direction: column;
  top: 0;
  left: -100vw;
  }

  .menu-sab li {
      height: 20vh;
      width: 100vw;
  }

  .menu-sab.opeen li {
      transform: translateX(100vw);
  }
}

/* Hamburger menu */
.hamburger {
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  top: 20px;
  right: 20px;
border: 0;
cursor: pointer;
  width: 40px;
  height: 40px;
  z-index: 888;
}

.hamburger:focus {
outline: 0;
}

.hamburger .line {
background-color: #000;
display: block;
margin: 4px auto;
height: 2px;
width: 20px;
transition: all .1s ease-in;
}

.hamburger.opeen .line:nth-child(1) {
transform:translateY(6px) rotate(45deg) ;
}

.hamburger.opeen .line:nth-child(2) {
opacity: 0 !important;
}

.hamburger.opeen .line:nth-child(3) {
transform:translateY(-6px) rotate(-45deg) ;
}
@media (min-width: 1161px){
  .menu-sab{
    display: none;
  }
  .hamburger{
    display: none;
  }
}











/*logo*/
.top{
    width: 100%;
    align-items: center;
    position: fixed;
    padding: 30px;
    z-index: 11;
    color: #E1E1E1;
   
}
.menu{
    display: flex;
    justify-content: space-between;
}
.menu h2{
  font-size: 30px;
  color:  rgb(235, 98, 1);
  position: relative;
  margin-top: 0px;
}
.menu h2::after{
  content: "株式会社";
  position: absolute;
  top: 65%;
  left: 20%;
  color: rgb(235, 98, 1);
  font-size: 20px;
}
.ball{
  text-shadow:-1px -1px 3px #d00;
  animation: ball 0.6s alternate infinite;
  -webkit-animation: ball 0.6s alternate infinite;
  -moz-animation: ball 0.6s alternate infinite;
}
@keyframes ball{
  0%{
    transform: translate(0%,0%) rotateX(25deg);
  }
  100%{
    transform: translate(0%,-30px);
  }
}
@-webkit-keyframes ball{
  0%{
    -webkit-transform: translate(0%,0%) rotateX(25deg);
  }
  100%{
    -webkit-transform: translate(0%,-30px);
  }
}
@-moz-keyframes ball{
  0%{
    -moz-transform: translate(0%,0%)rotateX(25deg);
  }
  100%{
    -moz-transform: translate(0%,-30px);
  }
}
@media screen and (max-width: 696px){
  .menu h2{
    font-size: 20px; 
  }
  .menu h2::after{
    font-size: 15px;
  }
}




/*nav*/
.mini nav ul{
    display: flex;
    margin-right: 80px;
   
}
.mini nav ul li{
    padding-left: 20px;
    font-size: 20px;
   
}
.mini nav ul li a{
    transition: all 0.6s ease;
    color:  rgb(255, 255, 255);
    text-shadow:-1px -1px 3px rgba(0, 0, 0, 0.236);
    z-index: 55;
    transition: 0.8s;
    
}
.mini nav ul li a:hover{
  color:  rgb(235, 98, 1);
  text-shadow:-1px -1px 3px #d00;
}
.main-img{
  width: 100%;
  height: 100vh;
  position: relative;
 
}
.main-img img{
  width: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  
}
.main-rain{
  width: 100%;
  height: 300px;
  font-size: 5px;
}
@media screen and (max-width: 1160px){
.mini{
  display: none;
}
.top{
  width: 0%;
}
.main-img img {
  top: 360px;
  left: 406px;
 
 
}
}
@media screen and (max-width: 972px){
  .main-img img{
    left: 197px;
  }
}
@media screen and (max-width: 748px){
  .main-img img{
   display: none;
  }
}
  





/*名言*/
.wrap{
 padding:120px 0px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  

}
.fadein{
  color: rgb(255, 255, 255);
  font-family: "Hannari";
  font-size: 23px;
  font-weight: bold;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  opacity: 0;
  animation: fadein 1s ease forwards;
  text-shadow:-1px -1px 3px rgba(0, 0, 0, 0.236);
}
@keyframes fadein{
  100%{
    opacity: 1;
  }
}
.txt4 {animation-delay: 4s;}
.txt3 {animation-delay: 5s;}
.txt2 {animation-delay: 6s;}
.txt1 {animation-delay: 7s;}
.color{
  color: #fff;
}
.button014{
  margin-top: 300px;
  margin-left: 100px;
}
.button014 a {
  background: rgba(0, 0, 0, 0.295);
  position: relative;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 10px 25px;
  color: #ffffff;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}
.button014 a::before {
content: '';
position: absolute;
top: -5px;
left: -5px;
width: calc(100% - 4px);
height: calc(100% - 4px);
border: 2px solid #eee;
transition: 0.2s;
}

.button014 a::after {
content: '';
width: 5px;
height: 5px;
border-top: 3px solid rgb(0, 0, 0);
border-right: 3px solid rgb(0, 0, 0);
transform: rotate(45deg);
}

.button014 a:hover::before {
top: 0;
left: 0;
}

.button014 a:hover {
text-decoration: none;
background-color: #eee;
color: #000;
}
@media screen and (max-width: 990px){
 .fadein{
  font-size: 20px;
 }
}





/*about*/
.about{
  width: 100%;
  height: auto;
  margin: 0 auto;
  
}
.about-mini{
 width: 90%;
 margin: 0 auto;
 display: flex;
 justify-content:space-between;
}
.titl{
  position: relative;
  width: 550px;
  height: auto;
  
}
.titl p{
  color:  rgb(255, 255, 255);
  text-shadow:-1px -1px 3px rgba(0, 0, 0, 0.236);
}
.top-name{
  opacity: 0;
  transform: translateY(-100px);
  transition: 4s;
}
.about-coment{
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
  padding: 30px;
  margin-top: 100px;
  opacity: 0;
  transform: translate(-100px);
  transition: 2s;
}
.about-coment h1{
  font-size: 15px;
  font-weight: 500;
  color:  rgb(0, 0, 0);
  text-shadow:-1px -1px 3px rgba(255, 255, 255, 0.822);
 
}
.about p{
  font-weight: bold;
  font-size: 30px;
  font-family: "Hannari";
 
  
}
.phto{
  width: 70%;
  
 display: flex;
 position: relative;
 justify-content: flex-end;
 opacity: 0;
 transform: translate(100px);
 transition: 2s;
}
.phto-img{
  margin-top: 30px;
  width: 45%;
}
.phto-img img:nth-of-type(1){
 width: 100%;
 display: block;
 position: relative;
 opacity: 0.9;
 z-index: 2;
}

  
.phto-img  img:nth-of-type(2){
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 27%;
  z-index: 1;
}
.red{
  border-bottom: solid 2px red;
}
@media screen and (max-width: 1100px){
 
  .phto-img img:nth-of-type(2) {
    width: 50%;
    bottom: 0;
    right: 188px;
}
}

@media screen and (max-width: 1000px){
  .phto-img img:nth-of-type(1) {
    width: 100%;
    display: block;
    position: relative;
    opacity: 0.9;
    z-index: 23;
    top: 90px;
}
.phto-img img:nth-of-type(2) {
  width: 50%;
  bottom: 0;
  right: 155px;
}
.about-coment {
  padding: 20px;
}
.phto{
  width: 100%;
}
.about-coment h1 {
  font-size: 15px;
}
}
@media screen and (max-width: 790px){
  .titl{
    width: auto;
    height: auto;
  }
  .about-coment {
    padding: 35px;
}

  .about-mini{
    display: block;
  }
.phto-img img:nth-of-type(1) {
 
  top: 0px;
}
.phto-img img:nth-of-type(2) {
  display: none;
}

.phto-img {
  margin-top: 30px;
   width: 100%;
}
}
@media screen and (max-width: 281px){
  .about p{
    font-size: 25px;
  }
  .about-coment h1{
    font-size: 13px;
  }
  .mask p {
    font-size: 115%;
}
}







/*仕事内容 */
.content{
  width: 100%;
  height: auto;
  
}
.content h2{
  text-align: right;
  margin-right: 15%;
  font-size: 40px;
  color:  rgb(0, 0, 0);
  text-shadow:-1px -1px 3px rgba(0, 0, 0, 0.236);
  font-family:Arial, Helvetica, sans-serif;
}
.content-main{
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: url(../img/sab-top.jpg)center center / cover no-repeat;
  position: relative;
  z-index: 1;
 
  
}
.content-main::before{
  background: inherit;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.702);
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
 
  z-index: -1;
}

.content-sab{
 display: flex;
  width: 100%;
 
 
  align-items: center;
}
.content-sab img{
  width: 40%;
  padding-right: 60px;
  padding-left: 30px;
}
.content-coment{
  width: 100%;
  height: 100vh;
  position: relative;
}
.content-coment-in{
  position: absolute;
  top: 20%;
}
.content-coment h3{
  font-size: 30px;
  text-align: center;
  text-shadow: -2px -1px 3px rgba(0, 0, 0, 0.493);
  color: rgb(255, 255, 255) ;
  padding-bottom: 30px;
}
.content-coment-in p{
  text-shadow: -2px -1px 3px rgba(0, 0, 0, 0.493);
  color: rgb(255, 255, 255) ;
  padding: 0 40px;
 font-weight: 200;
  font-size: 20px;
}
.button04 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  transition: 0.8s ;
}

.button04 a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid rgb(0, 0, 0);
  border-right: 3px solid rgb(0, 0, 0);
  transform: rotate(45deg);
}

.button04 a:hover {
  color: #333333;
  text-decoration: none;
  background-color:rgba(204, 204, 204, 0.373);
}

.button04 a:hover::after {
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
}

@media screen and (max-width: 984px) {
  .content-coment h3 {
    font-size: 20px;
  }
  .content-coment-in p {
    font-size: 18px;
 }
 .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 115px;
  left: 0;
  width: 100%;
 }
 .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  bottom: 80px;
}
}
@media screen and (max-width: 790px) {
  .content-sab{
    display: block;
    text-align: center;
    height: auto;
  }
  .content-sab img{
    width: 55%;
    padding-top: 35px;
  }
  .content-coment-in{
    top: 0px;
   
  }
  .content-coment h3{
    padding-bottom: 0px;
    font-size: 18px;
  }
}

@media screen and (max-width: 500px){
  .button04 a{
    padding: 10px 20px;
  }
}
@media screen and (max-width: 414px){
  .content-coment-in p{
    font-size: 15px;
  }
  .content-sab img{
    width: 55%;
  }
 
.content-main{
  height: 90vh;
}
}

@media screen and (max-width: 376px){
  .content-coment-in p{
    font-size: 13px;
  }
  .content-main{
    height: 100vh;
  }
}
@media screen and (max-width: 376px){
  
.swiper-pagination{
  display: none;
}
  .content h2{
    font-size: 30px;
  }
  .content-coment-in{
    width: 100%;
  }
  .content-coment-in p{
    font-size: 12px;
  }
  .button04 a{
    width: 160px;
  }
}





/*自動スライドショー*/
.slidesho{
 margin-top: 50px;

}
.slider{
  margin-left: -35px;
}
.slider img {
  width:100%;
  height:auto;
}






/*自己紹介*/
.intro{
  margin-top: 90px;
  width: 100%;
 
  background: url(../img/sab-top.jpg)center center / cover no-repeat;
  position: relative;
  z-index: 1;
}
.intro::before{
  background: inherit;
  content: "";
  position: absolute;
 background:rgba(0, 0, 0, 0.702);
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
 
  z-index: -1;
}
.intro-phto {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro-phto img{
  width: 50%;
  height: 90vh;
  object-fit: cover;
}
.img-left{
  opacity: 0;
  transform: translate(-100px);
  transition: 2s;
}

.intro-coment{
  width: 100%;
  padding-left: 60px ;
  opacity: 0;
  transform: translateY(100px);
  transition: 2s;
}
.intro-coment h2{
  font-size: 40px;
  text-shadow: -2px -1px 3px rgba(0, 0, 0, 0.493);
  color: rgb(255, 255, 255) ;
}
.intro-coment p{
  font-size: 25px;
  text-shadow: -2px -1px 3px rgba(0, 0, 0, 0.493);
  color: rgb(255, 255, 255) ;
  font-weight: 200;
}
@media screen and (max-width: 1155px){
  .intro-coment h2{
    font-size: 30px;
  }
  .intro-coment p{
    font-size: 20px;
  }
}
@media screen and (max-width: 790px){
.intro-phto{
  display: block;
  text-align: center;
}
.intro-phto img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
.intro-coment {
  padding-left: 0px;
}
.intro-coment p{
  font-size: 20px;
}
}
@media screen and (max-width: 742px){
  .intro-coment h2{
    font-size: 25px;
  }
  .intro-coment p{
    font-size: 19px;
  }
}
@media screen and (max-width: 455px){
  .intro-coment h2{
    font-size: 20px;
  }
}
@media screen and (max-width: 375px){
  .intro-coment p{
    font-size: 16px;
  }
}
@media screen and (max-width: 281px){
  .intro-coment p{
    font-size: 13px;
  }
  .company h3{
    margin-right: 0%;
    margin-top: 180px;
    font-size: 30px !important;
  }
  .company-profile {
    width: 100% !important;
  }
}









/*会社概要*/
.company{
  width: 100%;
  height: 100vh;
}
.company h3{
  text-align: right;
  margin-right: 15%;
  font-size: 40px;
  color: rgb(0, 0, 0) ;
  text-shadow:-1px -1px 3px rgba(0, 0, 0, 0.236);
  font-family: "Hannari";
  
}
.company-profile{
  width: 90%;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(200px);
  transition: 2s;
}
.company-profile-in{
  background-color: rgba(0, 0, 0, 0.277);
}
.kaisha {
  width: 100%;
  }
  
  .kaisha th,
  .kaisha td {
  border: 1px solid #ccc;
  padding: 35px;
  color: rgb(255, 255, 255) ;
  text-shadow: -2px -1px 3px rgba(255, 255, 255, 0);
  }
  
  .kaisha th {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.38);
 
  }
  @media screen and (max-width: 281px){
    .kaisha th{
      padding: 27px;
    }
  }







  
  
  
  
  /*お問い合わせ*/
  
 
  .contact {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
}

.contact-ttl {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    text-shadow:-1px -1px 3px rgba(0, 0, 0, 0.236);
}

.contact-table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid rgb(29, 29, 29);
    opacity: 0;
    transition: 1s;
}

.contact-item,
.contact-body {
    padding: 20px;
    border: 1px solid rgb(29, 29, 29);
}

.contact-item {
    text-align: left;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.14);
    color: rgb(255, 254, 254);
}

.contact-body {
    width: 70%;
    background-color: rgba(0, 0, 0, 0.277);
}

.form-text {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(29, 29, 29);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.277);
}

.contact-sex + .contact-sex {
    margin-left: 10px;
}

.contact-sex-txt {
    display: inline-block;
    margin-left: 5px;
    color: rgb(255, 255, 255);
}

.form-select {
    width: 180px;
    height: 40px;
    padding: 5px;
    border: 1px solid  rgb(29, 29, 29);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.277);
    color: #fff;
}

.contact-skill {
    display: block;
}

.contact-skill + .contact-skill {
    margin-top: 10px;
}

.contact-skill-txt {
    display: inline-block;
    margin-left: 5px;
    color: rgb(255, 255, 255);
}

.form-textarea {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: 1px solid  rgb(29, 29, 29);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: rgba(255, 255, 255, 0.277);
}

.contact-submit {
    width: 250px;
    background-color: #333;
    color:  #fff;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    padding: 15px;
    border-radius: 100vh;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.show{
  opacity: 1;
  transform: none;
}
@media screen and (max-width: 551px){
  .contact-ttl{
    margin-top: 100px;
  }
}
@media screen and (max-width: 412px){
  .contact-ttl{
    margin-top: 285px;
  }
}
@media screen and (max-width: 281px){
  .contact{
   width: 100%;
  }
  td{
    font-size: 10px;
  }
  th{
    font-size: 11px;
  }
  .contact-ttl {
    font-size: 30px;
}
}








/*fotter*/
footer{
  background: rgba(0, 0, 0, 0.866);
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-container h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-container p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.socials .socials-child{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;

}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4 !important;
  font-weight: 200;
}